<% content_for :title do %>About<% end %>
<h3>About Foobinius Rolentino</h3>
<p>He was born in the seedy underbelly of post appocalyptic Detroit, and shell of a once great empire now dominated by a vicious criminal syndicate with only one hope for escape, the judges. As Foobinius grew into a man, he both molded and was molded by this society, and eventually became the symbol of a resistance; a movement for popular liberation. Then he got hit by a truck fin.</p>
<p>His favorite quotation is:</p>
<p>Ma-Ma is not the law. I AM THE LAW</p>
